<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lease Request</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/loginstyle.css">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>RPMS
</title>
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!----css3---->
    <link rel="stylesheet" href="/css/custom.css">
<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet">
</head>
<body>
  
  <div class="wrapper">


    <div class="body-overlay"></div>
    
    
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><img src="/images/house.png" class="img-fluid"/><span>RPMS</span></h3>
                </div>
                <ul class="list-unstyled components">
          <li  class="active">
                        <a href="#" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                    </li>
        
              <div class="small-screen navbar-display">
                    <li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#homeSubmenu0" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">notifications</i><span> 4 notification</span></a>
                        <ul class="collapse list-unstyled menu" id="homeSubmenu0">
                                        <li>
                                        <a href="#">You have 5 new messages</a>
                                        </li>
                                        <li>
                                            <a href="#">landlord, allan added new property</a>
                                        </li>
                                        <li>
                                            <a href="#">new lease request!</a>
                                        </li>
                                        <li>
                                            <a href="#">5 warnings in Server Console</a>
                                        </li>
                        </ul>
                    </li>
            
            <li  class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">apps</i><span>apps</span></a>
                    </li>
            
             <li  class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">person</i><span>user</span></a>
                    </li>
            
            <li  class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">settings</i><span>setting</span></a>
                    </li>
            </div>
          
          
                    <li class="dropdown">
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">add-business</i><span>Properties</span></a>
                        <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                            <li>
                                <a href="#">Approve property</a>
                            </li>
                            <li>
                                <a href="#">Add new Property</a>
                            </li>
                            <li>
                                <a href="#">Edit Property</a>
                            </li>
                            <li>
                                <a href="#">Delete property</a>
                            </li>
                            <li>
                                <a href="#">View property</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">people</i><span>Tenants</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu2">
                            <li>
                                <a href="#">View available Tenants</a>
                            </li>
                            <li>
                                <a href="#">Remove Tenant</a>
                            </li>
                            <li>
                                <a href="#">Edit Tenant</a>
                            </li>
                        </ul>
                    </li>
            
             <li class="dropdown">
                        <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">loyalty</i>
            
              
              <span>Lease Requests</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu3">
                            <li>
                                <a href="#">Create Lease request</a>
                            </li>
                            <li>
                                <a href="#">View  available Lease Requests</a>
                            </li>
                            <li>
                                <a href="#">View Granted leased requests</a>
                            </li>
                            <li>
                                <a href="#">Denied lease Requests</a>
                            </li>
                        </ul>
                    </li>
              <li class="dropdown">
                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">payments</i><span>Payments</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu4">
                            <li>
                                <a href="#">Approved payments</a>
                            </li>
                            <li>
                                <a href="#">Pending payments</a>
                            </li>
                            <li>
                                <a href="#">View payments</a>
                            </li>
                        </ul>
                    </li>
            
            <li class="dropdown">
                        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">people</i><span>Users</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                            <li>
                                <a href="#"> view Landlords</a>
                            </li>
                            <li>
                                <a href="#"> view Tenants</a>
                            </li>
                            <li>
                                <a href="#">view Admins</a>
                            </li>
                        </ul>
                    </li>
                   
             
             
             <li class="dropdown">
                        <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">grid_on</i><span>tables</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu6">
                            <li>
                                <a href="#">View Lease Requests</a>
                            </li>
                            <li>
                                <a href="#">View Pending Lease Requests</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </li>
                   
             
               <li class="dropdown">
                        <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="material-icons">content_copy</i><span>Comments</span></a>
                        <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                            <li>
                                <a href="#">view likes</a>
                            </li>
                            <li>
                                <a href="#">view dislikes</a>
                            </li>
                            <li>
                                <a href="#">view comments</a>
                            </li>
                        </ul>
                    </li>
                   
                   <li class="">
                        <a href="#"><i class="material-icons">date_range</i><span>copy</span></a>
                    </li>
            
             <li  class="">
                        <a href="#"><i class="material-icons">library_books</i><span>Calender</span></a>
                    </li>
                   
                
                </ul>
    
               
            </nav>

  <!-- Page Content  -->
    <div id="content">

      <div class="top-navbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                <span class="material-icons">arrow_back_ios</span>
            </button>
            
            <a class="navbar-brand" href="#"> Welcome To Rental Property Management System</a>
            
            <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons">more_vert</span>
            </button>

            div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto justify-content-between"> 
                                <li class="nav-item">
        
    <h1>Lease Request Form</h1>


  <form action="/submit_lease_request" method="post">
    <h2>Contact Information</h2>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" required><br><br>

    <label for="organization">Organization:</label>
    <input type="text" id="organization" name="organization"><br><br>

    <h2>Lease Details</h2>
    <label for="leaseType">Lease Type:</label>
    <select id="leaseType" name="leaseType" required>
      <option value="">Select Lease Type</option>
      <option value="residential">Residential</option>
      <option value="commercial">Commercial</option>
      <option value="equipment">Equipment</option>
    </select><br><br>

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required><br><br>

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required><br><br>

    <label for="propertyDetails">Property/Equipment Details:</label><br>
    <textarea id="propertyDetails" name="propertyDetails" rows="5" cols="30"></textarea><br><br>

    <label for="additionalRequirements">Additional Requirements:</label><br>
    <textarea id="additionalRequirements" name="additionalRequirements" rows="5" cols="30"></textarea><br><br>

    <h2>Terms and Conditions</h2>
    <input type="checkbox" id="acceptTerms" name="acceptTerms" required>
    <label for="acceptTerms">I accept the terms and conditions</label><br><br>

    <input type="submit" value="Submit">
  </form>

  </div>
        </nav>
      </div>
    </div>

</body>
</html>